body {
  background-color: bisque;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  background-color: white;
}

li:hover {
  transform: scale(1.10);
}

li h2 {
  margin: 5px 0px;
  font-size: 16px;
}

.user-card {
  text-align: center;
  display: inline-grid;
  border: gray solid 1px;
  box-shadow: 3px 4px lightgray;
  margin: 10px;
}

.user-img {
  justify-self: center;
  height: 120px;
  width: auto;
}