body {
  background-color: bisque;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20;
}

.github {  
  border: 2px black solid;
  border-radius: 25px;
}

.github:hover {
  border-color: white;
  background-color: black;
  color: white;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  background-color: white;
}

li:hover {
  cursor: pointer;
  transform: scale(1.05);
}

li h2 {
  margin: 5px 0px;
  font-size: 16px;
}

.user-card {
  text-align: center;
  display: inline-grid;
  border: gray solid 1px;
  box-shadow: 3px 4px lightgray;
  margin: 0px;
}

.user-img {
  justify-self: center;
  height: 120px;
  width: auto;
}

#repos-list {
  background: white;
  padding: 0px 10px;
  display: none;
  text-align: left;
}